:root {
    --orange: #df6900;
    --primary-light:#ffa719;
    --primary-dark:#915a00;
    --mustard:#ffd449;
    --blue:#142c52;
    --orange-c-um: #004d91;
    --orange-c-dois:#0075de;
    --medium-slate-blue: #715aff;
    --risd-blue: #004fff;
    --light-green: #8aea92;
    --rose: #ff007f;
}

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-right: linear-gradient(90deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-bottom: linear-gradient(180deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-left: linear-gradient(270deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-top-right: linear-gradient(45deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-bottom-right: linear-gradient(135deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-top-left: linear-gradient(225deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-bottom-left: linear-gradient(315deg, #df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-radial: radial-gradient(#df6900ff, #999999ff, #333333ff, #8aea92ff, #715affff);
$gradient-top2: linear-gradient(0deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-right2: linear-gradient(90deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-bottom2: linear-gradient(180deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-left2: linear-gradient(270deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-top-right2: linear-gradient(45deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-bottom-right2: linear-gradient(135deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-top-left2: linear-gradient(225deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-bottom-left2: linear-gradient(315deg, #df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);
$gradient-radial2: radial-gradient(#df6900ff, #999999ff, #333333ff, #004fffff, #ff007fff);