<footer class="pt-3 mt-4 bg-dark border-top" aria-role="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ml-4">
        <div class="py-4" >
          <img class="logo" src="/images/logo/logo_negativo01.svg" alt="logo">
        </div>
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-around mt-3" >
          <img src="/images/icons/facebook.svg" alt="">
          <img src="/images/icons/twitter.svg" alt="">
          <img src="/images/icons/instagram.svg" alt="">
          <img src="/images/icons/pinterest.svg" alt="">
          <img src="/images/icons/youtube.svg" alt="">
        </div>
      </div>
      <div class="col-6">
        <h4>Links</h4>
        <ul>
          <li>Sobre</li>
          <li>Contato</li>
        </ul>
        <hr />
        <div>
          <!-- CATEGORIAS -->
          <section>
            <h4>Categorias</h4>
            <ul>
              {{ $categorias := slice }}
              {{ range .Site.RegularPages }}
                {{ with .Params.categories }}
                  {{ $categorias = union $categorias . }}
                {{ end }}
              {{ end }}
              {{ range $categorias }}
                <li><a href="{{ printf "/blog//%s" (urlize .) }}/">{{ . }}</a></li>
              {{ end }}
            </ul>
          </section>  
          <!-- FIM CATEGORIAS -->
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
  <section id="copyright" aria-role="copyright">
    <div class="container-fluid bg-black p-2">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
                Raça de Gatos© <span class="year"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>