<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raça de gatos - Home page</title>
    {{ $mycss := resources.Get "css/bundle.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $mycss.RelPermalink }}" integrity="{{ $mycss.Data.Integrity }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&family=Mouse+Memoirs&family=REM:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
</head>