<nav class="navbar navbar-expand-lg pt-0 pb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/logo/logo.svg" alt="" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu">
           <!-- CATEGORIAS -->
          {{ $categoriasxxl := slice }}
          {{ range .Site.RegularPages }}
            {{ with .Params.categories }}
              {{ $categoriasxxl = union $categoriasxxl . }}
            {{ end }}
          {{ end }}
          {{ range $categoriasxxl }}
            <li><a class="text-gray" href="{{ printf "/blog//%s" (urlize .) }}/">{{ . }}</a></li>
          {{ end }}
          <!-- FIM CATEGORIAS -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header d-flex align-items-start" data-bs-theme="dark">
    <div class="d-flex flex-column justify-content-center align-items-start">
      <img class="logo" src="/images/logo/logo.svg" alt="">
      <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Menu de navegação</h5>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item text-light">
        <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categorias
        </a>
        <ul class="dropdown-menu bg-dark">
          <!-- CATEGORIAS -->
          {{ $categorias := slice }}
          {{ range .Site.RegularPages }}
            {{ with .Params.categories }}
              {{ $categorias = union $categorias . }}
            {{ end }}
          {{ end }}
          {{ range $categorias }}
            <li><a class="text-light" href="{{ printf "/blog//%s" (urlize .) }}/">{{ . }}</a></li>
          {{ end }}
          <!-- FIM CATEGORIAS -->
        </ul>
      </li>
    </ul>
  </div>
  <div class="offcanvas-footer text-light">
    <div class="px-4">
      <h4>Siga-nos nas redes sociais</h4>
    </div>
    <div class="d-flex justify-content-around px-4 py-4" >
      <img src="/images/icons/facebook.svg" alt="">
      <img src="/images/icons/twitter.svg" alt="">
      <img src="/images/icons/instagram.svg" alt="">
      <img src="/images/icons/pinterest.svg" alt="">
      <img src="/images/icons/youtube.svg" alt="">
    </div>
  </div>
</div>