@media (max-width: 991px) { 
    .offcanvas {
        .dropdown-menu{
            a:link{
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }
                .logo{
                max-width: 80%;
                height: auto;
        }
    }
}
    
@media (min-width: 992px) { 
    .offcanvas{
        display: none;
    }
}

nav {
    background-color: rgb(221, 151, 0);
}

.desktop-menu {
    background-color: #FFd781;
    a{
        color: black;
        padding-left: 1rem;

    }
    a:hover{
        color: rgb(221,151,0);
    }
    li:hover{
        background-color: black;
        a{
            color: #FFFFFF;
        }
    }
}