#list_artigos {
    h5 {
        font-size: 1.5rem;
    }
    .card-text{
        font-size: 1.2rem;
    }
    a {
        .label-categoria{
            font-size: 1.2rem;
            color: #CCC !important;
        }
    }
}