
#content{
    
    h1 {
        color: rgb(85, 20, 0);
    }
    h1, address {
        margin: 3rem 1rem;
    }
    
    address {
        text-justify: auto;
        font-style: italic;
    }

    h2 {
        color: lighten(rgb(85, 20, 0),10);
        margin-top: 3rem;
    }
    h3 {
        color: lighten(rgb(85, 20, 0),15);
        margin-top: 3rem;
    }
    h4 {
        color: lighten(rgb(85, 20, 0),18);
        margin-top: 3rem;

        a {
            color: #666666;
        }
        a:link {
            color: #666666;
        }
    }
    
    figcaption {
        font-size: larger;
        color: #4b4642;
    }
    li{
        list-style: inside;
        list-style-image: url('../images/logo/bullet.svg');
        line-height: 2rem;
        font-size: 1.2rem;

        a {
            color: #333333;
        }
        a:link {
            color: #333333;
        }
        
    }

    p {
        font-size: 1.4rem;
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    #content, img {
        max-width: 90vw;
        margin: auto;
    }
 }

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 576px) { 
    #content, img {
        max-width: 80vw;
        margin: auto;
    }
 }

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) { 
    #content, img {
        max-width: 70vw;
        margin: auto;
    }
 }

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) { 
    #content, img {
        max-width: 60vw;
        margin: auto;
    }
 }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (min-width: 1399.98px) { 
    #content, img {
        max-width: 50vw;
        margin: auto;
    } 
}