@charset "UTF-8";
:root {
  --orange: #df6900;
  --primary-light:#ffa719;
  --primary-dark:#915a00;
  --mustard:#ffd449;
  --blue:#142c52;
  --orange-c-um: #004d91;
  --orange-c-dois:#0075de;
  --medium-slate-blue: #715aff;
  --risd-blue: #004fff;
  --light-green: #8aea92;
  --rose: #ff007f;
}

/* SCSS Gradient */
@media (max-width: 575.98px) {
  .logo {
    max-width: 50vw;
    height: auto;
  }
}
@media (min-width: 576px) {
  .logo {
    max-width: 44vw;
    height: auto;
  }
}
@media (min-width: 991.98px) {
  .logo {
    max-width: 35vw;
    height: auto;
  }
}
@media (min-width: 1199.98px) {
  .logo {
    max-width: 25vw;
    height: auto;
  }
}
@media (min-width: 1399.98px) {
  .logo {
    max-width: 17vw;
    height: auto;
  }
}
.carousel-position {
  position: relative;
}
.carousel-position h2 {
  position: absolute;
  bottom: 1em; /* Margem dinâmica de 1em na parte inferior */
  left: 0; /* Alinhamento à esquerda */
  right: 0; /* Alinhamento à direita */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo com transparência para legibilidade */
  color: rgb(247, 243, 243); /* Cor do texto da legenda */
  padding: 0.5em; /* Espaçamento interno para a legenda */
  text-align: center; /* Alinhamento de texto ao centro */
}

.home-social {
  width: 82.5px;
}

#categorias {
  font-family: "REM", sans-serif;
  text-transform: capitalize;
}
#categorias a {
  color: #333333;
}
#categorias li {
  list-style: none;
  line-height: 2rem;
  height: 2rem;
}

@media (max-width: 991px) {
  footer .logo {
    max-width: 80%;
    height: auto;
  }
}
footer .dropdown-menu a:link {
  text-decoration: none;
}
footer .dropdown-menu a:hover {
  text-decoration: underline;
}
footer li {
  color: #FFFFFF;
  list-style: none;
  text-transform: capitalize;
  font-family: "REM", sans-serif;
  font-size: 1.2rem;
}
footer li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer li a:hover {
  text-decoration: underline;
  color: darkkhaki;
}
footer h4 {
  font-family: "Londrina Solid", sans-serif;
  color: beige;
}

#copyright {
  color: #FFFFFF;
  font-family: "REM", sans-serif;
  border-top-color: #575757;
  border-top-width: 1px;
  border-top-style: solid;
}

@media (max-width: 991px) {
  .offcanvas .dropdown-menu a:link {
    text-decoration: none;
  }
  .offcanvas .dropdown-menu a:hover {
    text-decoration: underline;
  }
  .offcanvas .logo {
    max-width: 80%;
    height: auto;
  }
}
@media (min-width: 992px) {
  .offcanvas {
    display: none;
  }
}
nav {
  background-color: rgb(221, 151, 0);
}

/* LOGO FONT */
/* font-family: 'Mouse Memoirs', sans-serif; */
/* TITLES FONT */
/* font-family: 'Londrina Solid', sans-serif; */
/* PARAGRAPH TEXT FONT */
/* font-family: 'REM', sans-serif; */
body {
  background-color: #ffffff;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Londrina Solid", sans-serif !important;
}
body p {
  font-family: "REM", sans-serif !important;
}
body small {
  font-family: "Londrina Solid", sans-serif !important;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=bundle.css.map */