<!doctype html>
<html lang="en">
  {{ partial "home/head.html" . }}
  <body>
    {{ partial "common/nav.html" . }}
    <main>
      <!-- CARROUSSEL -->
      {{ partial "home/destaque.html" . }}
      <!-- ANUNCIO 01 -->
      {{ partial "home/anuncio01.html" . }}
        <div class="row">
      <!-- PRIMEIRA PARTE - MOBILE //// COLUNA 1 DESKTOP -->
          <div class="col-lg-9">
      <!-- POSTS RECENTES -->
            {{ partial "home/recents.html" . }}
          </div>
      <!-- SEGUNDA PARTE - MOBILE ////  COLUNA 2 DESKTOP -->
          <div class="col-lg-3">
      <!-- REDES SOCIAIS -->
            {{ partial "home/social.html" . }}
      <!-- CATEGORIAS -->
            {{ partial "home/categorias.html" . }}
      <!-- ANUNCIO 02 -->
            {{ partial "home/anuncio02.html" . }}
          </div>
        </div>
    </main>
  {{ partial "common/footer.html" . }}
  {{ partial "common/scripts.html" . }}
  </body>
</html>