#categorias {
    font-family: 'REM', sans-serif;
    text-transform: capitalize;
    a {
        color: #333333;
    }

    li {
        list-style: none;
        line-height: 2rem;
        height: 2rem;
    }


}