.label-categoria {
    text-transform: capitalize;
}

.clip-rounded {
    width: 100%;
    clip-path: circle();
}

a:link {
    text-decoration: none;
}
a {
    small{
        color:rgb(112, 112, 112) !important;
    }
    p{
        color:rgb(102, 102, 102) !important;
    }
    h5{
        color:rgb(218, 99, 19) !important;
    }
}