{{ $destaques := slice }}
{{ range .Site.RegularPages }}
  {{ $imagem := "" }}
  {{ $alt := "" }}
  {{ $title := "" }}
  {{ $active := 0 }}

  {{ with .Params.image }}
    {{ $imagem = . }}
  {{ end }} 
  {{ with .Params.image_alt }}
    {{ $alt = . }}
  {{ end }}
  {{ with .Params.carousel_active }}
    {{ $active = . }}
  {{ end }}
  {{ with .Params.title }}
    {{ $title = . }}
  {{ end }}

  {{ with .Params.image }}
    {{ $destaques = $destaques | append (dict "image" $imagem "image_alt" $alt "carousel_active" $active "title" $title) }}
  {{ end }}

{{ end }}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{ range $destaques }}
    <div class='carousel-item carousel-position {{ if eq .carousel_active "1" }}active{{ end }}'>
      <h2>{{ .title }}</h2>
      <img src="http://localhost:1313/images/{{ .image }}" class="d-block w-100" alt="{{ .image_alt }}">
    </div>
    {{ end }}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

