<section id="recents" aria-label="posts recentes">
  <div>
    <h2>Posts recentes</h2>
    <div>
      {{ range first 3 .Site.RegularPages.ByDate.Reverse }}
      <article aria-role="artigo">
        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-4 d-flex align-items-center">
              <a href="{{ .RelPermalink }}">
                <img src="/images/{{.Params.id }}/{{ .Params.image }}" class="img-fluid rounded-start clip-rounded" alt="{{ .Params.image_alt }}">
              </a>
            </div>
            <div class="col-8">
              <a href="{{ .RelPermalink }}">
                <div class="card-body">
                  <small class="float-end label-categoria">{{ with .Params.categories }}{{ index . 0 }}{{ end }}</small>
                  <br />
                  <h5 class="card-title">{{ .Title }}</h5>
                  <p class="card-text">{{ .Params.description }}</p>
                  <p class="card-text"><small class="text-body-secondary">Publicado em {{ .Date.Format "02/01/2006" }}</small></p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>