<section id="redes_sociais">
    <div class="row">
        <div class="col"><h3>Siga o Raça de Gatos nas redes</h3></div>
        <div class="col d-flex flex-row justify-contents-center align-items-center">
            <div>
                <img src="/images/icons/facebook.png" class="home-social" alt="link para nossa página no Facebook" aria-role="link">
            </div>
            <div>
                <img src="/images/icons/twitter.png" class="home-social" alt="link para nossa página no Twitter" aria-role="link">
            </div>
            <div>
                <img src="/images/icons/instagram.png" class="home-social" alt="link para nossa página no Instagram" aria-role="link">
            </div>
            <div>
                <img src="/images/icons/pinterest.png" class="home-social" alt="link para nossa página no Pinterest" aria-role="link">
            </div>
        </div>
    </div>
</section>